<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Your Trip</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <h1>Globe Trotter</h1>
        <div class="cta">
            <a href="/featuredTrips" class="btn">Featured Trips</a>
            <a href="#" class="btn">Sign in</a>
        </div>
    </div>
</header>

<main class="main">
    <div class="container">
        <form>
            <div>
                <p>What is the name of this trip?</p>
                <label>
                    <input placeholder="Enter a name for this trip">
                </label>
            </div>
            <div>
                <p>What is the name of this trip?</p>
                <label>
                    <input placeholder="Enter a name for this trip">
                </label>
            </div>
        </form>
    </div>
</main>
</body>
</html>
